__pycache__
*.pyc
.DS_Store
.vscode
*.egg-info
*.pkl
*~
*.python-version
*.csv
*.zip
*.so
*.pth
build
dist
pylint_recursive.py
.coverage
results
eval_trajectories
videos
saved_approaches
saved_datasets
scripts/results
pretrained_model_cache
tests/datasets/mock_vlm_datasets/cache/
machines.txt
*_vision_data
tests/_fake_trajs
tests/_fake_results
sas_plan
.env.local
Real-World-Data/
scripts/weights/
table_empty_transformer.pth
table_empty_transformer.pth
# Jetbrains IDEs
.idea/
wandb/
*.pt
*.log
*.npy
*.txt
*.png
*.ply
